*{
    box-sizing: border-box;
}
body{
    background-color: #FAFBFF;
min-width: 1440px;}

.main-background{
    background-color: #2A0369;
   width:100%;
    height: 100px;}

nav{
    display: flex;
    align-items: start;
    justify-content: space-between;
   }
.left-side{
    display: flex;
    align-items: start;
    justify-content: center;
}

.logo img{
    width: 50%; height:auto;
    margin-left: 30px;
    padding: 30px;}


.right-side{
    display: flex;
    align-items: center;
    margin-right:30px ;
    color: white;
    gap: 45px;
padding: 45px;}

.red-line{
    height: 50px;
    width: 60px;
    background-color: #9B0000;
    font-family: 'Bruno Ace', sans-serif;
    font-size:150px;
    display: flex;
    align-items: normal;
    justify-content: flex-start;
    color: #ffffff;
   
}
 h3{
    font-size: 3rem;
    margin-top: 4rem;
    color:#000000;
    font-weight: 200;
text-align: center;}
h2 {
    margin-left: 230px;
    font-weight: 200;
    font-size: 30px;
margin-top: 180px;}

.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
.container {  display: grid;
   margin-top: 80px;
   
    justify-content: space-around;
    /* align-items: center; */
    grid-template-columns: 0.5fr 0.8fr 0.8fr 0.8fr 0.5fr;
    grid-template-rows: 1.4fr 0.3fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "buttton html css js button2"
      "buttton html css js button2"
      "buttton html css js button2";
  }
  
.buttton { grid-area: buttton;}
  
.html { grid-area: html; background-color: #FAFBFF; height: 300px; width: 75%; border-radius: 20px; position: relative;}
.html img {
    position: absolute;
    top: 0%;
    right: 43%;
  }
  
.css { grid-area: css;  background-color: #FAFBFF; height: 300px; width: 75%; position: relative;}
.css img{
    position: absolute;
    top: 0%;
    right: 43%;
  }
  
.js { grid-area: js;  background-color: #FAFBFF; height: 300px; width: 75%; position: relative;}
.js img{
    position: absolute;
    top: 0%;
    right: 43%;
  }
  
.button2 { grid-area: button2;}
  
.child {
    width: 250px;
    height: 270px;
    background-color: hsla(57, 100%, 92%, 0.5);
    margin-top: 25px;
border-radius: 20px;
padding-right: 10px;
}

.child ul {
    padding-top: 50px;
    
}
.child li {
    padding-top: 20px;
   
}

.experience-container{
    background-color: #ffffff;
    width: 800px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    gap: 30px;
    margin-left:350PX;
    box-shadow: 0px 0px 34px -10px #A2D2FF ;
}
.child-container{
    background-color: #2E0277;
    width: 400px;
    height: 260px;
    color: #ffffff;
    padding: 20px;
    border-radius: 30PX;

}


.btns-questuion{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
.btn-primary{
    background-color: #FF5F5F;
    width: 8.8rem;
    height: 2rem;
    color: white;
    font-weight:600 ;
    display: flex;
    align-items: center;
    justify-content: center;}

.btn-secondry{
    border: #2A0369 solid 2px;
    width: 8.8rem;
    height: 1.9rem;
    color: #FF5F5F;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;}

    .footer-background{
        background-color: #2A0369;
        width:100%;
    height: 100px;
display: flex;
align-items: center;
justify-content: space-between;}
    
  
    footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 150px;
       }
   
       .red-line-footer{
      
        background-color: #9B0000;
        content: "";
        width: 4px;
        margin-top: 20px;
        height: 70px;
    

    }
    .right-side-footer{
        display: flex;
        align-items: center;
        margin-right:30px ;
        color: white;
        gap: 20px;
       padding-left:800px;}
      
    
   